<a href="https://colab.research.google.com/github/A-Wadhwani/ME597-Project/blob/prelim_results/Power_gen2_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
data = pd.read_csv('/content/Plant_2_Generation_Data.csv')
weather_dat = pd.read_csv('/content/Solar2_cleaned.csv')
data=pd.DataFrame(data)
data.head(50000)

                 DATE_TIME  PLANT_ID  ...  DAILY_YIELD   TOTAL_YIELD
0      2020-05-15 00:00:00   4136001  ...  9425.000000  2.429011e+06
1      2020-05-15 00:00:00   4136001  ...     0.000000  1.215279e+09
2      2020-05-15 00:00:00   4136001  ...  3075.333333  2.247720e+09
3      2020-05-15 00:00:00   4136001  ...   269.933333  1.704250e+06
4      2020-05-15 00:00:00   4136001  ...  3177.000000  1.994153e+07
...                    ...       ...  ...          ...           ...
49995  2020-06-09 14:45:00   4136001  ...  6448.785714  2.648558e+06
49996  2020-06-09 14:45:00   4136001  ...  6487.400000  1.117067e+08
49997  2020-06-09 14:45:00   4136001  ...  4904.666667  1.348509e+09
49998  2020-06-09 14:45:00   4136001  ...  6521.071429  8.386137e+08
49999  2020-06-09 14:45:00   4136001  ...  2496.714286  3.296172e+08

[50000 rows x 7 columns]

In [ ]:
data['DATE'] = pd.to_datetime(data['DATE_TIME'] ,infer_datetime_format=True).dt.date
data['TIME'] = pd.to_datetime(data['DATE_TIME']).dt.time

In [ ]:
data2 = data[data['TIME'].astype(str) == '23:45:00']
data2.head(350)

                 DATE_TIME  PLANT_ID  ...        DATE      TIME
2068   2020-05-15 23:45:00   4136001  ...  2020-05-15  23:45:00
2069   2020-05-15 23:45:00   4136001  ...  2020-05-15  23:45:00
2070   2020-05-15 23:45:00   4136001  ...  2020-05-15  23:45:00
2071   2020-05-15 23:45:00   4136001  ...  2020-05-15  23:45:00
2072   2020-05-15 23:45:00   4136001  ...  2020-05-15  23:45:00
...                    ...       ...  ...         ...       ...
33923  2020-06-01 23:45:00   4136001  ...  2020-06-01  23:45:00
33924  2020-06-01 23:45:00   4136001  ...  2020-06-01  23:45:00
33925  2020-06-01 23:45:00   4136001  ...  2020-06-01  23:45:00
33926  2020-06-01 23:45:00   4136001  ...  2020-06-01  23:45:00
33927  2020-06-01 23:45:00   4136001  ...  2020-06-01  23:45:00

[350 rows x 9 columns]

In [ ]:
data3 = data2.drop(columns=['DATE_TIME', 'PLANT_ID','DC_POWER','AC_POWER','TOTAL_YIELD','TIME'])

In [ ]:
inv_list = ["4UPUqMRk7TRMgml","81aHJ1q11NBPMrL","9kRcWv60rDACzjR","Et9kgGMDl729KT4","IQ2d7wF4YD8zU1Q","LYwnQax7tkwH5Cb","LlT2YUhhzqhg5Sw","Mx2yZCDsyf6DPfv","NgDl19wMapZy17u","PeE6FRyGXUgsRhN","Qf4GUc1pJu5T6c6","Quc1TzYxW2pYoWX","V94E5Ben1TlhnDV","WcxssY2VbP4hApt","mqwcsP2rE7J0TFp","oZ35aAeoifZaQzV","oZZkBaNadn6DNKz","q49J1IKaHRwDQnt","rrq4fwE8jgrTyWY","vOuJvMaM2sgwLmb","xMbIugepa2P7lBB","xoJJ8DcxJEcupym"]
inv_data = data3.groupby(['SOURCE_KEY'])

li = []

for i in inv_list:
  li.append(inv_data.get_group(i))

In [ ]:
weather_dat.head(31)

    Unnamed: 0  index  Day  ...  IRRADIATION  Year        DATE
0            0     14   15  ...     0.300622  2020  2020-05-15
1            1     16   16  ...     0.246631  2020  2020-05-16
2            2     18   17  ...     0.221183  2020  2020-05-17
3            3     20   18  ...     0.223914  2020  2020-05-18
4            4     21   19  ...     0.214161  2020  2020-05-19
5            5     22   20  ...     0.279030  2020  2020-05-20
6            6     23   21  ...     0.283242  2020  2020-05-21
7            7     24   22  ...     0.297248  2020  2020-05-22
8            8     25   23  ...     0.293333  2020  2020-05-23
9            9     26   24  ...     0.285688  2020  2020-05-24
10          10     27   25  ...     0.276635  2020  2020-05-25
11          11     28   26  ...     0.283695  2020  2020-05-26
12          12     29   27  ...     0.285749  2020  2020-05-27
13          13     30   28  ...     0.293094  2020  2020-05-28
14          14     31   29  ...     0.244602  2020  2020-05-29
15          15     32   30  ...     0.248198  2020  2020-05-30
16          16     33   31  ...     0.200041  2020  2020-05-31
17          17      0    1  ...     0.141371  2020  2020-06-01
18          18      1    2  ...     0.247381  2020  2020-06-02
19          19      2    3  ...     0.174891  2020  2020-06-03
20          20      3    4  ...     0.210237  2020  2020-06-04
21          21      4    5  ...     0.232985  2020  2020-06-05
22          22      5    6  ...     0.270456  2020  2020-06-06
23          23      6    7  ...     0.260781  2020  2020-06-07
24          24      7    8  ...     0.281650  2020  2020-06-08
25          25      8    9  ...     0.248313  2020  2020-06-09
26          26      9   10  ...     0.193503  2020  2020-06-10
27          27     10   11  ...     0.117479  2020  2020-06-11
28          28     11   12  ...     0.136489  2020  2020-06-12
29          29     12   13  ...     0.215523  2020  2020-06-13
30          30     13   14  ...     0.229517  2020  2020-06-14

[31 rows x 9 columns]

In [ ]:
weather_data_clean = weather_dat.drop(columns=['Unnamed: 0','index','Day','Month','Year'])

In [ ]:
li[0].head(40)

            SOURCE_KEY  DAILY_YIELD        DATE
2068   4UPUqMRk7TRMgml       4201.0  2020-05-15
4180   4UPUqMRk7TRMgml       5677.0  2020-05-16
6292   4UPUqMRk7TRMgml       6342.0  2020-05-17
8404   4UPUqMRk7TRMgml       7641.0  2020-05-18
11938  4UPUqMRk7TRMgml       9423.0  2020-05-20
13666  4UPUqMRk7TRMgml       9151.0  2020-05-21
15394  4UPUqMRk7TRMgml       9863.0  2020-05-22
17122  4UPUqMRk7TRMgml       9688.0  2020-05-23
18850  4UPUqMRk7TRMgml       4635.0  2020-05-24
20578  4UPUqMRk7TRMgml       9224.0  2020-05-25
22306  4UPUqMRk7TRMgml       9501.0  2020-05-26
24034  4UPUqMRk7TRMgml       9501.0  2020-05-27
25762  4UPUqMRk7TRMgml       3729.0  2020-05-28
27592  4UPUqMRk7TRMgml       8126.0  2020-05-29
29704  4UPUqMRk7TRMgml       8185.0  2020-05-30
31816  4UPUqMRk7TRMgml       6692.0  2020-05-31
33906  4UPUqMRk7TRMgml       4338.0  2020-06-01
36018  4UPUqMRk7TRMgml       7404.0  2020-06-02
38108  4UPUqMRk7TRMgml       6113.0  2020-06-03
40220  4UPUqMRk7TRMgml       6990.0  2020-06-04
42332  4UPUqMRk7TRMgml       7756.0  2020-06-05
44444  4UPUqMRk7TRMgml       8376.0  2020-06-06
46556  4UPUqMRk7TRMgml       7826.0  2020-06-07
48668  4UPUqMRk7TRMgml       9210.0  2020-06-08
50780  4UPUqMRk7TRMgml       8098.0  2020-06-09
52892  4UPUqMRk7TRMgml       5588.0  2020-06-10
55004  4UPUqMRk7TRMgml       3930.0  2020-06-11
57116  4UPUqMRk7TRMgml       4548.0  2020-06-12
59228  4UPUqMRk7TRMgml       6289.0  2020-06-13
61340  4UPUqMRk7TRMgml       1868.0  2020-06-14
63452  4UPUqMRk7TRMgml       2304.0  2020-06-15
65564  4UPUqMRk7TRMgml       5004.0  2020-06-16
67676  4UPUqMRk7TRMgml       4446.0  2020-06-17

In [ ]:
weather_data_clean.head(40)

    AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION        DATE
0             30.565992           35.559493     0.300622  2020-05-15
1             29.478612           35.143314     0.246631  2020-05-16
2             29.780109           34.626731     0.221183  2020-05-17
3             27.336694           31.618089     0.223914  2020-05-18
4             26.500659           30.106084     0.214161  2020-05-19
5             28.233016           33.349863     0.279030  2020-05-20
6             29.055461           34.782797     0.283242  2020-05-21
7             29.648566           36.748054     0.297248  2020-05-22
8             30.649599           36.909950     0.293333  2020-05-23
9             30.805943           37.116551     0.285688  2020-05-24
10            30.818429           36.567041     0.276635  2020-05-25
11            30.027993           35.778918     0.283695  2020-05-26
12            30.400938           37.034485     0.285749  2020-05-27
13            30.130057           36.033721     0.293094  2020-05-28
14            30.047376           34.883857     0.244602  2020-05-29
15            29.548670           33.620539     0.248198  2020-05-30
16            28.451277           33.097815     0.200041  2020-05-31
17            25.507045           28.493761     0.141371  2020-06-01
18            27.102405           32.883191     0.247381  2020-06-02
19            26.134206           29.572434     0.174891  2020-06-03
20            26.304939           30.830731     0.210237  2020-06-04
21            27.082355           32.300562     0.232985  2020-06-05
22            27.801298           32.850818     0.270456  2020-06-06
23            27.855764           33.594638     0.260781  2020-06-07
24            28.493347           34.312204     0.281650  2020-06-08
25            28.126932           32.960383     0.248313  2020-06-09
26            27.334611           30.826511     0.193503  2020-06-10
27            25.520911           27.248319     0.117479  2020-06-11
28            24.683422           27.116900     0.136489  2020-06-12
29            26.116937           30.394871     0.215523  2020-06-13
30            27.019790           31.589834     0.229517  2020-06-14
31            26.557591           29.996233     0.185053  2020-06-15
32            26.369897           29.589896     0.165062  2020-06-16
33            24.852174           26.668631     0.124383  2020-06-17

In [ ]:
merge = weather_data_clean.astype(str).merge(li[0][['DAILY_YIELD','DATE']].astype(str), on = 'DATE', how = 'inner')
merge.head(20)

   AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  ...        DATE DAILY_YIELD
0    30.56599240392218  35.559493133825676  ...  2020-05-15      4201.0
1   29.478612107614943  35.143313971575665  ...  2020-05-16      5677.0
2   29.780109462638357   34.62673104823728  ...  2020-05-17      6342.0
3   27.336693981812743  31.618089005459773  ...  2020-05-18      7641.0
4   28.233015966012122  33.349862726297104  ...  2020-05-20      9423.0
5   29.055460564499523  34.782797434877885  ...  2020-05-21      9151.0
6    29.64856575269397  36.748053997078536  ...  2020-05-22      9863.0
7   30.649598971599623   36.90995010181991  ...  2020-05-23      9688.0
8   30.805943188976684  37.116551340291096  ...  2020-05-24      4635.0
9   30.818428757315623  36.567040989343866  ...  2020-05-25      9224.0
10   30.02799321070401    35.7789177337524  ...  2020-05-26      9501.0
11  30.400937587775363  37.034485254681506  ...  2020-05-27      9501.0
12  30.130057124837414   36.03372072519853  ...  2020-05-28      3729.0
13  30.047376036617717  34.883857072707485  ...  2020-05-29      8126.0
14   29.54867031754157  33.620538683754965  ...  2020-05-30      8185.0
15  28.451276544815602    33.0978153065613  ...  2020-05-31      6692.0
16   25.50704480733165   28.49376125274117  ...  2020-06-01      4338.0
17   27.10240531618773   32.88319149076866  ...  2020-06-02      7404.0
18   26.13420570593064  29.572434186825966  ...  2020-06-03      6113.0
19   26.30493927300477  30.830730545605828  ...  2020-06-04      6990.0

[20 rows x 5 columns]

In [ ]:
merged_data = []

for a in range(0,20):
  merged_data.append(weather_data_clean.astype(str).merge(li[a][['DAILY_YIELD','SOURCE_KEY','DATE']].astype(str),  on = 'DATE', how = 'inner'))
  merged_data[a]=merged_data[a][['DATE','AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION','DAILY_YIELD','SOURCE_KEY']]

In [ ]:
power_gen_data_1 = pd.DataFrame()
for b in range(0,20):
  power_gen_data_1 = power_gen_data_1.append(merged_data[b])

In [ ]:
#power_gen_data_1.to_csv('/content/plant2_dataset.csv')

In [ ]:
power_gen_data_2 = pd.read_csv('/content/plant1_dataset.csv')

In [ ]:
#final_data_1 = power_gen_data_1.drop(columns=['SOURCE_KEY'])
#final_data_2 = power_gen_data_2.drop(columns=['SOURCE_KEY'])

final_data = power_gen_data_1.append(power_gen_data_2)
final_data = final_data.drop(columns = ['DATE','Unnamed: 0'])

In [ ]:
final_data_2 = final_data[['DAILY_YIELD']].astype(float)
final_data_3 = final_data[final_data_2['DAILY_YIELD'] != 0]

In [ ]:
final_data_3.to_csv('/content/final_power_gen_data_source.csv')

In [ ]:
final_data_3['SOURCE_KEY']=final_data_3['SOURCE_KEY'].astype('category')
final_data_3['SOURCE_KEY']=final_data_3['SOURCE_KEY'].cat.codes
final_data_3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  ... DAILY_YIELD SOURCE_KEY
0   30.56599240392218  35.559493133825676  ...      4201.0          3
1  29.478612107614943  35.143313971575665  ...      5677.0          3
2  29.780109462638357   34.62673104823728  ...      6342.0          3
3  27.336693981812743  31.618089005459773  ...      7641.0          3
4  28.233015966012122  33.349862726297104  ...      9423.0          3

[5 rows x 5 columns]

In [ ]:
final_data_3.tail()

    AMBIENT_TEMPERATURE MODULE_TEMPERATURE IRRADIATION DAILY_YIELD  SOURCE_KEY
646             26.3624            38.7319    0.479044        8410          40
647             25.5028            35.7525    0.398646        7320          40
648             26.4719            36.3994    0.366089        6820          40
649             26.4519            36.0582    0.339229     5479.25          40
650             25.5512            34.1639    0.326702        5910          40

In [ ]:
final_data_3.to_csv('/content/final_power_gen_data.csv')