<a href="https://colab.research.google.com/github/A-Wadhwani/ME597-Project/blob/main/Solar_Power_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
import numpy as np
import pandas as pd
import datetime

In [151]:
data = pd.read_csv('/content/Plant_1_Generation_Data.csv')
weather_dat = pd.read_csv('/content/Solar1_cleaned.csv')
data=pd.DataFrame(data)
data.head(50000)

              DATE_TIME  PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00   4135001  ...         0.0    6259559.0
1      15-05-2020 00:00   4135001  ...         0.0    6183645.0
2      15-05-2020 00:00   4135001  ...         0.0    6987759.0
3      15-05-2020 00:00   4135001  ...         0.0    7602960.0
4      15-05-2020 00:00   4135001  ...         0.0    7158964.0
...                 ...       ...  ...         ...          ...
49995  09-06-2020 02:00   4135001  ...         0.0    7394696.0
49996  09-06-2020 02:00   4135001  ...         0.0    7213001.0
49997  09-06-2020 02:00   4135001  ...         0.0    7365310.0
49998  09-06-2020 02:00   4135001  ...         0.0    6709698.0
49999  09-06-2020 02:00   4135001  ...         0.0    7281724.0

[50000 rows x 7 columns]

In [152]:
data['DATE'] = pd.to_datetime(data['DATE_TIME'], infer_datetime_format=True).dt.date
data['TIME'] = pd.to_datetime(data['DATE_TIME']).dt.time

In [153]:
data2 = data[data['TIME'].astype(str) == '23:45:00']
data2.head(350)

              DATE_TIME  PLANT_ID  ...        DATE      TIME
3866   16-05-2020 23:45   4135001  ...  2020-05-16  23:45:00
3867   16-05-2020 23:45   4135001  ...  2020-05-16  23:45:00
3868   16-05-2020 23:45   4135001  ...  2020-05-16  23:45:00
3869   16-05-2020 23:45   4135001  ...  2020-05-16  23:45:00
3870   16-05-2020 23:45   4135001  ...  2020-05-16  23:45:00
...                 ...       ...  ...         ...       ...
37305  02-06-2020 23:45   4135001  ...  2020-06-02  23:45:00
37306  02-06-2020 23:45   4135001  ...  2020-06-02  23:45:00
37307  02-06-2020 23:45   4135001  ...  2020-06-02  23:45:00
37308  02-06-2020 23:45   4135001  ...  2020-06-02  23:45:00
37309  02-06-2020 23:45   4135001  ...  2020-06-02  23:45:00

[350 rows x 9 columns]

In [154]:
data3 = data2.drop(columns=['DATE_TIME', 'PLANT_ID','DC_POWER','AC_POWER','TOTAL_YIELD','TIME'])

In [155]:
inv_list = ["1BY6WEcLGh8j5v7" , "1IF53ai7Xc0U56Y" , "3PZuoBAID5Wc2HD" , "7JYdWkrLSPkdwr4" , "McdE0feGgRqW7Ca" , "VHMLBKoKgIrUVDU" , "WRmjgnKYAwPKWDb" , "ZnxXDlPa8U1GXgE" , "ZoEaEvLYb1n2sOq" , "adLQvlD726eNBSB" , "bvBOhCH3iADSZry" , "iCRJl6heRkivqQ3" , "ih0vzX44oOqAx2f" , "pkci93gMrogZuBj" , "rGa61gmuvPhdLxV" , "sjndEbLyjtCKgGv" , "uHbuxQJl8lW7ozc" , "wCURE6d3bPkepu2" , "z9Y9gH1T5YWrNuG" , "zBIq5rxdHJRwDNY" , "zVJPv84UY57bAof"]
inv_data = data3.groupby(['SOURCE_KEY'])

li = []

for i in inv_list:
  li.append(inv_data.get_group(i))

In [156]:
weather_dat.head(31)

    Unnamed: 0  index  Day  ...  IRRADIATION  Year        DATE
0            0     14   15  ...     0.352537  2020  2020-05-15
1            1     16   16  ...     0.358686  2020  2020-05-16
2            2     18   17  ...     0.440988  2020  2020-05-17
3            3     20   18  ...     0.293586  2020  2020-05-18
4            4     21   19  ...     0.368262  2020  2020-05-19
5            5     22   20  ...     0.493123  2020  2020-05-20
6            6     23   21  ...     0.535368  2020  2020-05-21
7            7     24   22  ...     0.417342  2020  2020-05-22
8            8     25   23  ...     0.532789  2020  2020-05-23
9            9     26   24  ...     0.470513  2020  2020-05-24
10          10     27   25  ...     0.513837  2020  2020-05-25
11          11     28   26  ...     0.457558  2020  2020-05-26
12          12     29   27  ...     0.380325  2020  2020-05-27
13          13     30   28  ...     0.491177  2020  2020-05-28
14          14     31   29  ...     0.495913  2020  2020-05-29
15          15     32   30  ...     0.420674  2020  2020-05-30
16          16     33   31  ...     0.338951  2020  2020-05-31
17          17      0    1  ...     0.339409  2020  2020-06-01
18          18      1    2  ...     0.405352  2020  2020-06-02
19          19      2    3  ...     0.421687  2020  2020-06-03
20          20      3    4  ...     0.474442  2020  2020-06-04
21          21      4    5  ...     0.437597  2020  2020-06-05
22          22      5    6  ...     0.375517  2020  2020-06-06
23          23      6    7  ...     0.460422  2020  2020-06-07
24          24      7    8  ...     0.477651  2020  2020-06-08
25          25      8    9  ...     0.467069  2020  2020-06-09
26          26      9   10  ...     0.369852  2020  2020-06-10
27          27     10   11  ...     0.298725  2020  2020-06-11
28          28     11   12  ...     0.307576  2020  2020-06-12
29          29     12   13  ...     0.479044  2020  2020-06-13
30          30     13   14  ...     0.398646  2020  2020-06-14

[31 rows x 9 columns]

In [157]:
weather_data_clean = weather_dat.drop(columns=['Unnamed: 0', 'index','Day','Month','Year'])

In [159]:
li[0].head(40)

            SOURCE_KEY  DAILY_YIELD        DATE
3866   1BY6WEcLGh8j5v7       6292.0  2020-05-16
5978   1BY6WEcLGh8j5v7       7045.0  2020-05-17
8090   1BY6WEcLGh8j5v7       4998.0  2020-05-18
10080  1BY6WEcLGh8j5v7       6449.0  2020-05-19
13120  1BY6WEcLGh8j5v7       7243.0  2020-05-21
15148  1BY6WEcLGh8j5v7       6848.0  2020-05-22
17106  1BY6WEcLGh8j5v7       7966.0  2020-05-23
19218  1BY6WEcLGh8j5v7       7537.0  2020-05-24
21278  1BY6WEcLGh8j5v7       8268.0  2020-05-25
23350  1BY6WEcLGh8j5v7          0.0  2020-05-26
25402  1BY6WEcLGh8j5v7       6164.0  2020-05-27
28872  1BY6WEcLGh8j5v7       7564.0  2020-05-29
30984  1BY6WEcLGh8j5v7       6754.0  2020-05-30
33090  1BY6WEcLGh8j5v7       5803.0  2020-05-31
35202  1BY6WEcLGh8j5v7       5508.0  2020-06-01
37290  1BY6WEcLGh8j5v7       7029.0  2020-06-02
39384  1BY6WEcLGh8j5v7       7341.0  2020-06-03
41436  1BY6WEcLGh8j5v7       7571.0  2020-06-04
43516  1BY6WEcLGh8j5v7       7162.0  2020-06-05
45568  1BY6WEcLGh8j5v7       5940.0  2020-06-06
47680  1BY6WEcLGh8j5v7       5268.0  2020-06-07
49792  1BY6WEcLGh8j5v7       7864.0  2020-06-08
51904  1BY6WEcLGh8j5v7       7456.0  2020-06-09
54016  1BY6WEcLGh8j5v7       5911.0  2020-06-10
56128  1BY6WEcLGh8j5v7       5257.0  2020-06-11
58240  1BY6WEcLGh8j5v7       5441.0  2020-06-12
60352  1BY6WEcLGh8j5v7       7984.0  2020-06-13
62464  1BY6WEcLGh8j5v7       4012.0  2020-06-14
64576  1BY6WEcLGh8j5v7       6275.0  2020-06-15
66688  1BY6WEcLGh8j5v7       5848.0  2020-06-16
68756  1BY6WEcLGh8j5v7       5521.0  2020-06-17

In [177]:
weather_data_clean.head(40)

    AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION        DATE
0             29.820316           39.924700     0.352537  2020-05-15
1             28.564478           38.616842     0.358686  2020-05-16
2             29.494486           42.028687     0.440988  2020-05-17
3             25.144056           33.573602     0.293586  2020-05-18
4             27.403739           37.733532     0.368262  2020-05-19
5             27.053268           39.338876     0.493123  2020-05-20
6             29.383561           45.335427     0.535368  2020-05-21
7             28.488995           40.469186     0.417342  2020-05-22
8             29.362050           45.278784     0.532789  2020-05-23
9             29.775916           42.970463     0.470513  2020-05-24
10            29.757596           44.277089     0.513837  2020-05-25
11            29.438701           43.091892     0.457558  2020-05-26
12            29.340521           40.685826     0.380325  2020-05-27
13            29.597006           43.068477     0.491177  2020-05-28
14            28.059088           44.418995     0.495913  2020-05-29
15            26.766419           38.802237     0.420674  2020-05-30
16            26.968679           37.230678     0.338951  2020-05-31
17            26.538052           36.084617     0.339409  2020-06-01
18            25.868720           36.706711     0.405352  2020-06-02
19            26.260068           37.294051     0.421687  2020-06-03
20            27.166873           40.150426     0.474442  2020-06-04
21            26.602370           39.037956     0.437597  2020-06-05
22            26.105285           36.314729     0.375517  2020-06-06
23            26.750388           39.854825     0.460422  2020-06-07
24            27.378789           40.180340     0.477651  2020-06-08
25            27.871143           40.500197     0.467069  2020-06-09
26            26.572747           36.164622     0.369852  2020-06-10
27            25.822458           33.455246     0.298725  2020-06-11
28            25.424471           33.153306     0.307576  2020-06-12
29            26.362422           38.731894     0.479044  2020-06-13
30            25.502800           35.752548     0.398646  2020-06-14
31            26.471948           36.399432     0.366089  2020-06-15
32            26.451856           36.058202     0.339229  2020-06-16
33            25.551221           34.163934     0.326702  2020-06-17

In [ ]:
merge = weather_data_clean.astype(str).merge(li[0][['DAILY_YIELD','DATE']].astype(str), on = 'DATE', how = 'inner')
merge.head(20)

In [182]:
merged_data = []

for a in range(0,21):
  merged_data.append(weather_data_clean.astype(str).merge(li[a][['DAILY_YIELD','DATE']].astype(str),  on = 'DATE', how = 'inner'))
  merged_data[a]=merged_data[a][['DATE','AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION','DAILY_YIELD']]

In [180]:
len(merged_data)

21

In [183]:
merged_data[6].head(35)

          DATE AMBIENT_TEMPERATURE  ...          IRRADIATION DAILY_YIELD
0   2020-05-16  28.564478195329666  ...  0.35868634965505153      6615.0
1   2020-05-17  29.494486331593407  ...   0.4409880415197766      7674.0
2   2020-05-18   25.14405622564103  ...   0.2935862516426643      5348.0
3   2020-05-19  27.403738549416914  ...   0.3682624794537422         0.0
4   2020-05-21  29.383560797255026  ...   0.5353675078003755         0.0
5   2020-05-22   28.48899484016173  ...  0.41734193406100667      7237.0
6   2020-05-23  29.362050044752184  ...   0.5327888079030094      8431.0
7   2020-05-24   29.77591632246181  ...   0.4705128346086936      8091.0
8   2020-05-25   29.75759639342041  ...   0.5138370865080109      8879.0
9   2020-05-26   29.43870079514824  ...   0.4575582788759599         0.0
10  2020-05-27   29.34052075396825  ...  0.38032530094032735      6658.0
11  2020-05-29   28.05908833514286  ...   0.4959132248282057      8038.0
12  2020-05-30  26.766419354304034  ...  0.42067411862465415      7130.0
13  2020-05-31   26.96867871804029  ...  0.33895111748448986      5837.0
14  2020-06-01   26.53805245722739  ...   0.3394085453393864      5834.0
15  2020-06-02  25.868719653728657  ...   0.4053518750245385         0.0
16  2020-06-03  26.260068479853487  ...   0.4216867084861565      7710.0
17  2020-06-04  27.166873286813182  ...   0.4744418160667904      8038.0
18  2020-06-05  26.602369914914647  ...  0.43759734320472143         0.0
19  2020-06-06  26.105285082600737  ...   0.3755168842980329      6341.0
20  2020-06-07  26.750387714106026  ...   0.4604221293001194    7062.125
21  2020-06-08   27.37878858492639  ...   0.4776514474694416      8319.0
22  2020-06-09  27.871142988679253  ...   0.4670693079321634      7977.0
23  2020-06-10  26.572746956959712  ...  0.36985176897641736      6389.0
24  2020-06-11  25.822457678754574  ...   0.2987251085254719      5619.0
25  2020-06-12   25.42447148077268  ...   0.3075764350852201      5794.0
26  2020-06-13   26.36242213378257  ...   0.4790444257828957      8399.0
27  2020-06-14  25.502800107277636  ...   0.3986456853204744      7405.0
28  2020-06-15  26.471948133862433  ...   0.3660889946185535    5889.625
29  2020-06-16  26.451856226415075  ...   0.3392287826957191      6264.0
30  2020-06-17    25.5512210287834  ...   0.3267021648506515      5953.0

[31 rows x 5 columns]