In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#2017, 2018, 2019 data for weather availible
#comp sci -  421 panels 
#rec - 660 panel
#fine arts - 424 panels

In [2]:
data_df =  pd.read_csv('UMass_PowerConsumption.csv', parse_dates=['Site Time'], )
weather_df = pd.read_csv('Amherst_Weather_Cleaned.csv',)

In [3]:
weather_df.head(10)

,Unnamed: 0,Year,Month,Day,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,0,2017,1,1,82.625000,838,310,663.500000,286.250000,73.750,729.000000,304.625000,0.237500,0.551875,283.912500,89.031250,0.500000,1000.00
1,1,2017,1,2,109.625000,649,150,330.625000,210.250000,68.250,716.875000,297.125000,0.112500,1.161000,101.950000,83.982500,0.500000,1010.00
2,2,2017,1,4,125.500000,384,31,194.750000,175.250000,74.750,627.000000,285.000000,0.225000,1.462250,248.150000,100.000000,2.500000,980.00
3,3,2017,1,5,74.500000,769,493,652.750000,279.625000,74.625,736.625000,313.375000,0.312500,0.483875,264.037500,58.532500,-2.500000,990.00
4,4,2017,1,6,77.250000,845,521,664.125000,287.500000,73.250,747.750000,317.500000,0.250000,0.429875,309.150000,61.963750,-2.875000,1000.00
5,5,2017,1,7,104.000000,2,2,2.000000,105.000000,74.000,723.000000,286.000000,0.200000,0.686000,14.000000,69.400000,-7.000000,1010.00
6,6,2017,1,8,100.000000,770,299,539.375000,273.625000,96.750,676.000000,320.250000,0.275000,0.256125,296.637500,65.640000,-8.000000,1000.00
7,7,2017,1,9,90.375000,691,283,511.625000,261.375000,82.625,733.875000,325.375000,0.212500,0.305375,246.612500,63.127500,-8.875000,1020.00
8,8,2017,1,10,120.125000,474,107,312.000000,225.875000,91.375,651.875000,311.625000,0.325000,0.894750,171.287500,77.673750,-3.375000,1011.25
9,9,2017,1,11,76.222222,914,51,456.222222,233.333333,51.000,711.333333,286.333333,0.311111,0.522667,223.655556,92.948889,5.111111,1000.00

In [4]:
weather_df = weather_df.drop(['Unnamed: 0'], axis = 1)

In [5]:
weather_df.head()

,Year,Month,Day,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2017,1,1,82.625,838,310,663.500,286.250,73.750,729.000,304.625,0.2375,0.551875,283.9125,89.03125,0.500,1000.0
1,2017,1,2,109.625,649,150,330.625,210.250,68.250,716.875,297.125,0.1125,1.161000,101.9500,83.98250,0.500,1010.0
2,2017,1,4,125.500,384,31,194.750,175.250,74.750,627.000,285.000,0.2250,1.462250,248.1500,100.00000,2.500,980.0
3,2017,1,5,74.500,769,493,652.750,279.625,74.625,736.625,313.375,0.3125,0.483875,264.0375,58.53250,-2.500,990.0
4,2017,1,6,77.250,845,521,664.125,287.500,73.250,747.750,317.500,0.2500,0.429875,309.1500,61.96375,-2.875,1000.0

In [6]:
data_df.head(70)

,Site Time,UMASS Amherst - Robsham Visitors Center null,UMASS Amherst - Lot 44 Carport null,UMASS Amherst - Champions Center null,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,UMASS Amherst - University Police null,UMASS Amherst - Lot 25 Carport null
0,2017-01-01,80.5,0,0,0,0.00,0,0.000,0
1,2017-01-02,59.3,0,0,0,0.00,0,0.000,0
2,2017-01-03,22.8,34.629,0,0,0.00,0,0.000,0
3,2017-01-04,76.6,0,0,0,0.00,0,0.000,0
4,2017-01-05,224,0,0,0,0.00,0,0.000,0
...,...,...,...,...,...,...,...,...,...
65,2017-03-07,67.1,"1,560.3",153.12,100.33,69.39,154.38,18.381,"1,238.7"
66,2017-03-08,399.9,"8,702",919.67,589.84,564.75,944,118.687,"6,632.9"
67,2017-03-09,536.6,"11,252.6","1,269.63",822.65,879.26,"1,309.44",156.511,"8,924.1"
68,2017-03-10,103.6,"2,467.2",247.6,150.63,164.12,242.1,23.675,"2,226.9"
69,2017-03-11,479.2,"7,702",922.31,705.76,771.76,"1,036",145.739,"5,021.1"

In [7]:
data_df['Day'] = [d.day for d in data_df['Site Time']]
data_df['Month'] = [d.month for d in data_df['Site Time']]
data_df['Year'] = [d.year for d in data_df['Site Time']]
data_df['Date'] = [d.date() for d in data_df['Site Time']]

In [8]:
data_df.head(10)

,Site Time,UMASS Amherst - Robsham Visitors Center null,UMASS Amherst - Lot 44 Carport null,UMASS Amherst - Champions Center null,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,UMASS Amherst - University Police null,UMASS Amherst - Lot 25 Carport null,Day,Month,Year,Date
0,2017-01-01,80.5,0,0,0,0.0,0,0.0,0,1,1,2017,2017-01-01
1,2017-01-02,59.3,0,0,0,0.0,0,0.0,0,2,1,2017,2017-01-02
2,2017-01-03,22.8,34.629,0,0,0.0,0,0.0,0,3,1,2017,2017-01-03
3,2017-01-04,76.6,0,0,0,0.0,0,0.0,0,4,1,2017,2017-01-04
4,2017-01-05,224,0,0,0,0.0,0,0.0,0,5,1,2017,2017-01-05
5,2017-01-06,194.9,0,0,0,0.0,0,0.0,0,6,1,2017,2017-01-06
6,2017-01-07,22.8,53.598,0,0,0.0,0,0.0,0,7,1,2017,2017-01-07
7,2017-01-08,7.2,110.447,0,0,0.0,0,0.0,0,8,1,2017,2017-01-08
8,2017-01-09,9.9,101.987,0,0,0.0,0,0.0,0,9,1,2017,2017-01-09
9,2017-01-10,9.7,96.476,0,0,0.0,0,0.0,0,10,1,2017,2017-01-10

In [9]:
data_new_df = data_df[data_df.Year != 2020].drop(['UMASS Amherst - Champions Center null','UMASS Amherst - Robsham Visitors Center null','UMASS Amherst - Lot 44 Carport null', 'UMASS Amherst - University Police null', 'UMASS Amherst - Lot 25 Carport null' ], axis=1)

In [10]:
data_new_df.head(10)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,0,0.0,0,1,1,2017,2017-01-01
1,2017-01-02,0,0.0,0,2,1,2017,2017-01-02
2,2017-01-03,0,0.0,0,3,1,2017,2017-01-03
3,2017-01-04,0,0.0,0,4,1,2017,2017-01-04
4,2017-01-05,0,0.0,0,5,1,2017,2017-01-05
5,2017-01-06,0,0.0,0,6,1,2017,2017-01-06
6,2017-01-07,0,0.0,0,7,1,2017,2017-01-07
7,2017-01-08,0,0.0,0,8,1,2017,2017-01-08
8,2017-01-09,0,0.0,0,9,1,2017,2017-01-09
9,2017-01-10,0,0.0,0,10,1,2017,2017-01-10

In [11]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'].str.replace(',','').astype(float)
#data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'].str.replace(',','').astype(float)
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'].str.replace(',','').astype(float)

In [12]:
data_new_df.head(10)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,0.0,0.0,0.0,1,1,2017,2017-01-01
1,2017-01-02,0.0,0.0,0.0,2,1,2017,2017-01-02
2,2017-01-03,0.0,0.0,0.0,3,1,2017,2017-01-03
3,2017-01-04,0.0,0.0,0.0,4,1,2017,2017-01-04
4,2017-01-05,0.0,0.0,0.0,5,1,2017,2017-01-05
5,2017-01-06,0.0,0.0,0.0,6,1,2017,2017-01-06
6,2017-01-07,0.0,0.0,0.0,7,1,2017,2017-01-07
7,2017-01-08,0.0,0.0,0.0,8,1,2017,2017-01-08
8,2017-01-09,0.0,0.0,0.0,9,1,2017,2017-01-09
9,2017-01-10,0.0,0.0,0.0,10,1,2017,2017-01-10

In [13]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'] / 421
data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'] / 424
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'] / 660

In [14]:
data_new_df.head(70)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,0.000000,0.000000,0.000000,1,1,2017,2017-01-01
1,2017-01-02,0.000000,0.000000,0.000000,2,1,2017,2017-01-02
2,2017-01-03,0.000000,0.000000,0.000000,3,1,2017,2017-01-03
3,2017-01-04,0.000000,0.000000,0.000000,4,1,2017,2017-01-04
4,2017-01-05,0.000000,0.000000,0.000000,5,1,2017,2017-01-05
...,...,...,...,...,...,...,...,...
65,2017-03-07,0.238314,0.163656,0.233909,7,3,2017,2017-03-07
66,2017-03-08,1.401045,1.331958,1.430303,8,3,2017,2017-03-08
67,2017-03-09,1.954038,2.073726,1.984000,9,3,2017,2017-03-09
68,2017-03-10,0.357791,0.387075,0.366818,10,3,2017,2017-03-10
69,2017-03-11,1.676390,1.820189,1.569697,11,3,2017,2017-03-11

In [15]:
data_new_df = data_new_df.drop(['Site Time'], axis=1)
data_new_df.head(10)

,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,0.0,0.0,0.0,1,1,2017,2017-01-01
1,0.0,0.0,0.0,2,1,2017,2017-01-02
2,0.0,0.0,0.0,3,1,2017,2017-01-03
3,0.0,0.0,0.0,4,1,2017,2017-01-04
4,0.0,0.0,0.0,5,1,2017,2017-01-05
5,0.0,0.0,0.0,6,1,2017,2017-01-06
6,0.0,0.0,0.0,7,1,2017,2017-01-07
7,0.0,0.0,0.0,8,1,2017,2017-01-08
8,0.0,0.0,0.0,9,1,2017,2017-01-09
9,0.0,0.0,0.0,10,1,2017,2017-01-10

In [16]:
weather_df.head(10)

,Year,Month,Day,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2017,1,1,82.625000,838,310,663.500000,286.250000,73.750,729.000000,304.625000,0.237500,0.551875,283.912500,89.031250,0.500000,1000.00
1,2017,1,2,109.625000,649,150,330.625000,210.250000,68.250,716.875000,297.125000,0.112500,1.161000,101.950000,83.982500,0.500000,1010.00
2,2017,1,4,125.500000,384,31,194.750000,175.250000,74.750,627.000000,285.000000,0.225000,1.462250,248.150000,100.000000,2.500000,980.00
3,2017,1,5,74.500000,769,493,652.750000,279.625000,74.625,736.625000,313.375000,0.312500,0.483875,264.037500,58.532500,-2.500000,990.00
4,2017,1,6,77.250000,845,521,664.125000,287.500000,73.250,747.750000,317.500000,0.250000,0.429875,309.150000,61.963750,-2.875000,1000.00
5,2017,1,7,104.000000,2,2,2.000000,105.000000,74.000,723.000000,286.000000,0.200000,0.686000,14.000000,69.400000,-7.000000,1010.00
6,2017,1,8,100.000000,770,299,539.375000,273.625000,96.750,676.000000,320.250000,0.275000,0.256125,296.637500,65.640000,-8.000000,1000.00
7,2017,1,9,90.375000,691,283,511.625000,261.375000,82.625,733.875000,325.375000,0.212500,0.305375,246.612500,63.127500,-8.875000,1020.00
8,2017,1,10,120.125000,474,107,312.000000,225.875000,91.375,651.875000,311.625000,0.325000,0.894750,171.287500,77.673750,-3.375000,1011.25
9,2017,1,11,76.222222,914,51,456.222222,233.333333,51.000,711.333333,286.333333,0.311111,0.522667,223.655556,92.948889,5.111111,1000.00

In [17]:
data_new_df = data_new_df[(data_new_df != 0).all(1)]

In [18]:
final_df = weather_df.merge(data_new_df, left_on = ('Month', 'Day', 'Year'),right_on = ('Month', 'Day', 'Year'), how = 'inner')

In [19]:
#final_df = pd.concat([data_new_df, weather_df], axis=1, ignore_index=True)
#final_df.columns = ('UMASS Amherst - Computer Science null', 'UMASS Amherst - Fine Arts Center null', 'UMASS Amherst - Recreation Center null', 'Day', 'Month', 'Year', 'Date', 'DHI', 'DNI Max', 'DNI Min', 'DNI', 'GHI', 'Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI', 'Wind Speed','Precipitable Water', 'Wind Direction', 'Relative Humidity', 'Temperature', 'Pressure')

In [20]:
final_df.head(10)

,Year,Month,Day,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,...,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Date
0,2017,2,3,76.100000,808,194,606.200000,305.800000,86.300000,697.200000,...,0.480000,0.383400,277.570000,67.023000,-3.500000,1000.000000,1.061948,1.411040,1.095000,2017-02-03
1,2017,2,4,88.100000,874,286,676.200000,345.400000,88.200000,694.800000,...,0.600000,0.363900,284.940000,67.680000,-3.900000,1000.000000,1.409026,1.852061,1.453818,2017-02-04
2,2017,2,5,122.888889,693,31,356.222222,278.333333,117.666667,615.888889,...,0.566667,0.886000,209.822222,76.916667,-1.000000,992.222222,0.810475,0.826453,0.818667,2017-02-05
3,2017,2,6,77.666667,927,4,649.222222,336.444444,72.222222,752.111111,...,0.611111,0.731889,294.100000,61.147778,-1.777778,1000.000000,1.234228,1.570186,1.250591,2017-02-06
4,2017,2,8,109.800000,850,33,466.400000,295.700000,96.600000,657.000000,...,0.500000,1.026600,284.440000,98.111000,2.800000,985.000000,0.657363,1.043031,0.712076,2017-02-08
5,2017,2,10,97.700000,969,213,648.100000,347.400000,75.300000,799.600000,...,0.800000,0.313100,303.320000,79.364000,-9.400000,1000.000000,0.630855,0.915967,0.251333,2017-02-10
6,2017,2,11,231.333333,71,44,60.000000,263.666667,174.333333,717.000000,...,0.100000,1.254333,93.700000,93.980000,-2.000000,990.000000,0.013872,0.314078,0.006076,2017-02-11
7,2017,2,13,151.100000,634,54,364.500000,288.500000,134.700000,593.500000,...,1.310000,0.568900,313.540000,91.813000,-4.100000,984.000000,0.021354,1.335474,0.008955,2017-02-13
8,2017,2,14,88.300000,907,269,715.200000,395.300000,86.300000,756.600000,...,0.280000,0.607600,262.120000,88.257000,-3.300000,990.000000,0.177933,1.911908,0.117985,2017-02-14
9,2017,2,15,173.875000,457,7,231.000000,281.375000,151.500000,602.375000,...,0.237500,1.008250,145.400000,99.466250,0.750000,975.000000,0.253753,0.659790,0.230424,2017-02-15

In [21]:
#final_df = final_df[final_df['UMASS Amherst - Fine Arts Center null'] != 0]

In [22]:
final_df.head(40)

,Year,Month,Day,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,...,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Date
0,2017,2,3,76.100000,808,194,606.200000,305.800000,86.300000,697.200000,...,0.480000,0.383400,277.570000,67.023000,-3.500000,1000.000000,1.061948,1.411040,1.095000,2017-02-03
1,2017,2,4,88.100000,874,286,676.200000,345.400000,88.200000,694.800000,...,0.600000,0.363900,284.940000,67.680000,-3.900000,1000.000000,1.409026,1.852061,1.453818,2017-02-04
2,2017,2,5,122.888889,693,31,356.222222,278.333333,117.666667,615.888889,...,0.566667,0.886000,209.822222,76.916667,-1.000000,992.222222,0.810475,0.826453,0.818667,2017-02-05
3,2017,2,6,77.666667,927,4,649.222222,336.444444,72.222222,752.111111,...,0.611111,0.731889,294.100000,61.147778,-1.777778,1000.000000,1.234228,1.570186,1.250591,2017-02-06
4,2017,2,8,109.800000,850,33,466.400000,295.700000,96.600000,657.000000,...,0.500000,1.026600,284.440000,98.111000,2.800000,985.000000,0.657363,1.043031,0.712076,2017-02-08
5,2017,2,10,97.700000,969,213,648.100000,347.400000,75.300000,799.600000,...,0.800000,0.313100,303.320000,79.364000,-9.400000,1000.000000,0.630855,0.915967,0.251333,2017-02-10
6,2017,2,11,231.333333,71,44,60.000000,263.666667,174.333333,717.000000,...,0.100000,1.254333,93.700000,93.980000,-2.000000,990.000000,0.013872,0.314078,0.006076,2017-02-11
7,2017,2,13,151.100000,634,54,364.500000,288.500000,134.700000,593.500000,...,1.310000,0.568900,313.540000,91.813000,-4.100000,984.000000,0.021354,1.335474,0.008955,2017-02-13
8,2017,2,14,88.300000,907,269,715.200000,395.300000,86.300000,756.600000,...,0.280000,0.607600,262.120000,88.257000,-3.300000,990.000000,0.177933,1.911908,0.117985,2017-02-14
9,2017,2,15,173.875000,457,7,231.000000,281.375000,151.500000,602.375000,...,0.237500,1.008250,145.400000,99.466250,0.750000,975.000000,0.253753,0.659790,0.230424,2017-02-15
10,2017,2,16,153.100000,600,26,301.300000,278.500000,127.800000,630.300000,...,0.870000,0.587600,299.620000,92.306000,-3.300000,980.000000,0.541378,1.163910,0.481697,2017-02-16
11,2017,2,17,76.500000,973,533,832.700000,432.400000,76.500000,832.700000,...,0.770000,0.370300,300.660000,87.619000,-3.600000,990.000000,0.925131,2.062000,0.810091,2017-02-17
12,2017,2,18,118.700000,869,283,596.700000,367.200000,92.800000,721.200000,...,0.440000,1.240200,212.220000,93.927000,0.400000,985.000000,1.167625,1.805236,0.920333,2017-02-18
13,2017,2,19,128.900000,874,28,461.400000,333.100000,85.500000,785.000000,...,0.480000,0.873800,272.510000,96.362000,5.400000,990.000000,1.187363,1.280094,1.096621,2017-02-19
14,2017,2,20,91.800000,927,465,736.500000,404.100000,79.100000,834.900000,...,0.630000,0.390500,342.280000,69.938000,2.300000,1000.000000,1.736627,2.070212,1.791848,2017-02-20
15,2017,2,21,115.300000,747,116,524.300000,357.100000,115.900000,716.700000,...,0.350000,0.789000,160.830000,67.618000,1.900000,1005.000000,1.263159,1.513231,1.285106,2017-02-21
16,2017,2,22,112.100000,739,240,594.700000,387.200000,116.000000,669.200000,...,0.310000,1.268300,226.620000,83.067000,8.200000,994.000000,1.417601,1.653561,1.433348,2017-02-22
17,2017,2,23,134.800000,792,247,607.100000,419.400000,134.800000,607.100000,...,0.540000,1.690200,210.180000,88.080000,11.700000,990.000000,1.576841,1.915472,1.625106,2017-02-23
18,2017,2,24,114.222222,873,37,578.777778,401.888889,86.777778,726.777778,...,0.600000,2.451556,193.422222,85.687778,15.777778,990.000000,1.250736,1.375755,1.286818,2017-02-24
19,2017,2,25,134.200000,647,18,316.000000,219.200000,81.600000,628.000000,...,0.720000,2.126000,161.740000,94.748000,13.600000,986.000000,0.548575,0.481321,0.560955,2017-02-25
20,2017,2,26,165.111111,785,9,339.333333,344.555556,87.444444,820.777778,...,0.944444,0.436333,293.166667,60.842222,0.666667,993.333333,1.040594,0.981274,1.042818,2017-02-26
21,2017,2,27,90.200000,901,508,741.800000,442.700000,84.200000,772.000000,...,0.670000,0.677200,232.350000,64.856000,5.500000,1008.000000,1.696390,1.998608,1.750045,2017-02-27
22,2017,2,28,141.700000,834,37,460.700000,383.000000,114.100000,629.300000,...,0.270000,1.429300,164.130000,78.493000,8.400000,1006.000000,1.413515,1.448703,1.416515,2017-02-28
23,2017,3,1,223.500000,166,1,83.500000,273.000000,140.000000,732.500000,...,0.750000,3.192500,192.150000,99.825000,12.500000,980.000000,0.376841,0.272594,0.369742,2017-03-01
24,2017,3,2,91.000000,973,179,722.250000,451.250000,65.625000,802.375000,...,1.200000,0.449875,287.275000,54.361250,-0.500000,986.250000,1.411544,1.516250,1.488879,2017-03-02
25,2017,3,3,91.200000,1003,277,764.600000,465.400000,71.500000,867.100000,...,0.630000,0.324900,291.340000,43.262000,-0.700000,1000.000000,1.587720,2.052075,1.913727,2017-03-03
26,2017,3,4,71.000000,1011,277,824.818182,461.909091,80.000000,849.454545,...,0.936364,0.161273,311.690909,43.115455,-8.636364,1010.000000,1.166010,1.885943,1.646121,2017-03-04
27,2017,3,5,58.000000,1035,243,814.583333,442.500000,58.000000,814.583333,...,0.750000,0.124333,330.700000,39.770833,-5.416667,1010.000000,1.482352,2.203844,2.100985,2017-03-05
28,2017,3,6,87.454545,918,3,631.909091,419.454545,80.727273,741.909091,...,0.163636,0.662364,183.545455,39.147273,0.636364,1010.000000,1.353610,1.996085,1.841818,2017-03-06
29,2017,3,7,170.000000,4,4,4.000000,172.000000,157.000000,621.000000,...,0.600000,2.289000,168.300000,95.670000,3.000000,1010.000000,0.238314,0.163656,0.233909,2017-03-07
30,2017,3,8,70.375000,986,112,782.000000,501.625000,70.375000,782.000000,...,0.612500,0.670875,255.275000,61.385000,8.625000,990.000000,1.401045,1.331958,1.430303,2017-03-08
31,2017,3,9,72.666667,950,223,732.750000,431.916667,70.333333,748.250000,...,0.933333,0.524000,283.641667,58.272500,3.250000,991.666667,1.954038,2.073726,1.984000,2017-03-09
32,2017,3,10,184.500000,652,12,225.700000,268.800000,157.600000,680.100000,...,0.490000,0.594000,299.320000,64.779000,-0.200000,990.000000,0.357791,0.387075,0.366818,2017-03-10
33,2017,3,11,92.833333,936,89,625.333333,413.500000,99.500000,760.000000,...,0.908333,0.217083,296.866667,48.548333,-9.750000,1000.000000,1.676390,1.820189,1.569697,2017-03-11
34,2017,3,12,79.250000,978,291,773.166667,463.583333,93.000000,780.250000,...,0.750000,0.230083,298.083333,47.065833,-8.000000,1000.000000,2.110784,2.181675,2.137076,2017-03-12
35,2017,3,13,89.083333,935,140,703.666667,453.083333,104.250000,732.000000,...,0.333333,0.425333,300.625000,41.500000,-3.416667,1010.000000,1.962470,2.046462,1.972136,2017-03-13
36,2017,3,15,195.909091,663,42,286.727273,345.636364,108.454545,787.272727,...,0.654545,0.453545,271.872727,84.071818,-6.727273,980.000000,0.400428,0.334292,0.124470,2017-03-15
37,2017,3,16,113.333333,918,254,707.750000,473.416667,106.916667,735.416667,...,0.658333,0.520417,290.816667,83.135000,-4.666667,990.000000,0.817696,1.931321,0.414258,2017-03-16
38,2017,3,17,85.666667,992,369,809.583333,502.000000,85.666667,809.583333,...,0.391667,0.416333,296.075000,82.786667,-1.833333,1000.000000,1.260855,2.165637,0.874712,2017-03-17
39,2017,3,18,140.833333,864,95,542.916667,418.583333,97.666667,766.166667,...,0.408333,0.535417,82.166667,82.476667,-0.916667,1000.000000,1.382708,1.920849,1.072303,2017-03-18

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946 entries, 0 to 945
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Year                                    946 non-null    int64
 1   Month                                   946 non-null    int64
 2   Day                                     946 non-null    int64
 3   DHI                                     946 non-null    float64
 4   DNI Max                                 946 non-null    int64
 5   DNI Min                                 946 non-null    int64
 6   DNI                                     946 non-null    float64
 7   GHI                                     946 non-null    float64
 8   Clearsky DHI                            946 non-null    float64
 9   Clearsky DNI                            946 non-null    float64
 10  Clearsky GHI                            946 non-null    float64
 11  Wind Speed                              946 non-null    float64
 12  Precipitable Water                      946 non-null    float64
 13  Wind Direction                          946 non-null    float64
 14  Relative Humidity                       946 non-null    float64
 15  Temperature                             946 non-null    float64
 16  Pressure                                946 non-null    float64
 17  UMASS Amherst - Computer Science null   946 non-null    float64
 18  UMASS Amherst - Fine Arts Center null   946 non-null    float64
 19  UMASS Amherst - Recreation Center null  946 non-null    float64
 20  Date                                    946 non-null    object
dtypes: float64(15), int64(5), object(1)
memory usage: 162.6+ KB

In [24]:
print(final_df)

     Year  Month  Day         DHI  DNI Max  DNI Min         DNI         GHI  \
0    2017      2    3   76.100000      808      194  606.200000  305.800000
1    2017      2    4   88.100000      874      286  676.200000  345.400000
2    2017      2    5  122.888889      693       31  356.222222  278.333333
3    2017      2    6   77.666667      927        4  649.222222  336.444444
4    2017      2    8  109.800000      850       33  466.400000  295.700000
..    ...    ...  ...         ...      ...      ...         ...         ...
941  2019     12   27   87.750000      290        3   84.500000  109.125000
942  2019     12   28   49.800000      891       31  619.100000  239.100000
943  2019     12   29   68.300000      631       23  365.500000  187.000000
944  2019     12   30   86.800000      217       12   54.400000  101.600000
945  2019     12   31   92.900000      407       21  181.900000  147.400000

     Clearsky DHI  Clearsky DNI  ...  Wind Speed  Precipitable Water  \
0       86.300000    697.200000  ...    0.480000            0.383400
1       88.200000    694.800000  ...    0.600000            0.363900
2      117.666667    615.888889  ...    0.566667            0.886000
3       72.222222    752.111111  ...    0.611111            0.731889
4       96.600000    657.000000  ...    0.500000            1.026600
..            ...           ...  ...         ...                 ...
941     66.250000    555.375000  ...    0.200000            2.262500
942     49.300000    649.300000  ...    0.170000            0.530000
943     49.300000    616.000000  ...    0.220000            1.310000
944     64.600000    506.300000  ...    0.340000            2.440000
945     56.700000    584.500000  ...    0.100000            1.040000

     Wind Direction  Relative Humidity  Temperature     Pressure  \
0        277.570000          67.023000    -3.500000  1000.000000
1        284.940000          67.680000    -3.900000  1000.000000
2        209.822222          76.916667    -1.000000   992.222222
3        294.100000          61.147778    -1.777778  1000.000000
4        284.440000          98.111000     2.800000   985.000000
..              ...                ...          ...          ...
941      206.875000          92.921250     4.250000  1007.125000
942      303.000000          81.200000     3.250000  1007.200000
943      206.100000          70.032000     2.560000  1008.000000
944       90.000000          93.477000     0.510000   998.600000
945      220.900000          94.618000     0.910000   989.200000

     UMASS Amherst - Computer Science null  \
0                                 1.061948
1                                 1.409026
2                                 0.810475
3                                 1.234228
4                                 0.657363
..                                     ...
941                               0.097625
942                               0.823515
943                               0.613302
944                               0.042518
945                               0.046318

     UMASS Amherst - Fine Arts Center null  \
0                                 1.411040
1                                 1.852061
2                                 0.826453
3                                 1.570186
4                                 1.043031
..                                     ...
941                               0.072406
942                               1.575708
943                               1.012264
944                               0.053066
945                               0.229245

     UMASS Amherst - Recreation Center null        Date
0                                  1.095000  2017-02-03
1                                  1.453818  2017-02-04
2                                  0.818667  2017-02-05
3                                  1.250591  2017-02-06
4                                  0.712076  2017-02-08
..                                      ...         ...
941                                0.102273  2019-12-27
942                                0.902576  2019-12-28
943                                0.656818  2019-12-29
944                                0.045758  2019-12-30
945                                0.049697  2019-12-31

[946 rows x 21 columns]

In [25]:
final_df.to_csv('Umass_total_data.csv')

In [26]:
#'UMASS Amherst - Fine Arts Center null','UMASS Amherst - Recreation Center null'