<a href="https://colab.research.google.com/github/A-Wadhwani/ME597-Project/blob/main/UMass%20Solar%20data%20cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#2017, 2018, 2019 data for weather available
#comp sci -  421 panels 
#rec - 660 panel
#fine arts - 424 panels

In [27]:
data_df =  pd.read_csv('https://raw.githubusercontent.com/A-Wadhwani/ME597-Project/prelim_results/Datasets/Power%20Data/UMass_PowerConsumption.csv', parse_dates=['Site Time'], )

In [28]:
data_df.head(70)

    Site Time  ... UMASS Amherst - Lot 25 Carport null
0  2017-01-01  ...                                   0
1  2017-01-02  ...                                   0
2  2017-01-03  ...                                   0
3  2017-01-04  ...                                   0
4  2017-01-05  ...                                   0
..        ...  ...                                 ...
65 2017-03-07  ...                             1,238.7
66 2017-03-08  ...                             6,632.9
67 2017-03-09  ...                             8,924.1
68 2017-03-10  ...                             2,226.9
69 2017-03-11  ...                             5,021.1

[70 rows x 9 columns]

In [29]:
data_df['Day'] = [d.day for d in data_df['Site Time']]
data_df['Month'] = [d.month for d in data_df['Site Time']]
data_df['Year'] = [d.year for d in data_df['Site Time']]
data_df['Date'] = [d.date() for d in data_df['Site Time']]

In [30]:
data_new_df = data_df[data_df.Year != 2020].drop(['UMASS Amherst - Champions Center null','UMASS Amherst - Robsham Visitors Center null','UMASS Amherst - Lot 44 Carport null', 'UMASS Amherst - University Police null', 'UMASS Amherst - Lot 25 Carport null' ], axis=1)

In [31]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'].str.replace(',','').astype(float)
#data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'].str.replace(',','').astype(float)
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'].str.replace(',','').astype(float)

In [32]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'] / 421
data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'] / 424
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'] / 660

In [33]:
data_new_df = data_new_df.drop(['Site Time'], axis=1)

In [34]:
data_new_df = data_new_df[(data_new_df != 0).all(1)]

In [35]:
#Merge weather data and power data 
def merge_weather(df_power, weather_data='Datasets/Orlando_Weather.csv'):
    #Read data, drop unused columns and remove 0 values
    df_weather = pd.read_csv(weather_data)
    df_weather = df_weather.drop(columns=['Hour', 'Minute','Wind Direction'])
    df_weather = df_weather[df_weather.DNI != 0]

    #Take mean, max and min for each DNI and Temperature in DataFrame and mean for everything else
    max_temp = df_weather.groupby(['Year', 'Month', 'Day']).max().reset_index()['Temperature']
    min_temp = df_weather.groupby(['Year', 'Month', 'Day']).min().reset_index()['Temperature']

    #Split into Y M and D
    max_dni = df_weather.groupby(['Year', 'Month', 'Day']).max().reset_index()['DNI']
    min_dni = df_weather.groupby(['Year', 'Month', 'Day']).min().reset_index()['DNI']


    df_weather = pd.DataFrame(df_weather.groupby(['Year', 'Month', 'Day']).mean().reset_index())
    df_weather.insert(4, 'DNI Max', max_dni)
    df_weather.insert(5, 'DNI Min', min_dni)
    df_weather.insert(11, 'Temp Max', max_temp)
    df_weather.insert(12, 'Temp Min', min_temp)

#    df_power[['Year', 'Month', 'Day']] = df_power.Date.str.split('-', expand=True).apply(pd.to_numeric)

    #Merge data together
    df_merge = df_weather.merge(df_power, left_on=('Year', 'Month', 'Day'), 
                                right_on=('Year', 'Month', 'Day'), how = 'inner', suffixes=('_left','_right'))
    df_merge = df_merge.rename(columns={'DNI':'DNI Mean'})

    return df_merge

In [39]:
final_df = merge_weather(data_new_df,weather_data='https://raw.githubusercontent.com/A-Wadhwani/ME597-Project/prelim_results/Datasets/Weather%20Data/Amherst_Weather.csv')

In [40]:
final_df.head()

   Year  Month  ...  UMASS Amherst - Recreation Center null        Date
0  2017      2  ...                                1.095000  2017-02-03
1  2017      2  ...                                1.453818  2017-02-04
2  2017      2  ...                                0.818667  2017-02-05
3  2017      2  ...                                1.250591  2017-02-06
4  2017      2  ...                                0.712076  2017-02-08

[5 rows x 22 columns]

In [38]:
final_df.to_csv('Umass_total_data.csv')