In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#2017, 2018, 2019 data for weather availible
#comp sci -  421 panels 
#rec - 660 panel
#fine arts - 424 panels

In [2]:
data_df =  pd.read_csv('UMass.csv', parse_dates=['Site Time'], )
weather_df = pd.read_csv('Amherst_Weather_Cleaned.csv',)

In [3]:
weather_df = weather_df.drop(['Unnamed: 0', 'Year', 'Month', 'Day'], axis = 1)

In [4]:
data_df.head(10)

,Site Time,UMASS Amherst - Robsham Visitors Center null,UMASS Amherst - Lot 44 Carport null,UMASS Amherst - Champions Center null,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,UMASS Amherst - University Police null,UMASS Amherst - Lot 25 Carport null
0,2017-01-01,"3,906.3","19,085.91","2,438.015","1,682.801",0,"2,654.347",297.625,"16,947.69"
1,2017-02-01,"5,153.2","102,156.1","13,674.72","9,648.08","13,475.63","14,736.96","1,431.698","95,507.5"
2,2017-03-01,"10,340.4","159,629.5","21,536.59","15,268.37","17,392.25","24,370.74","2,793.15","150,078.1"
3,2017-04-01,"16,235.3","258,483.6","28,002.71","17,831.34","14,846.2","27,708.91","3,317.095","178,054"
4,2017-05-01,"20,548.6","287,618.5","28,011.72","18,361.7","8,188.52","28,180.89","3,504.736","179,873.5"
5,2017-06-01,"28,521.8","338,855.6","35,911.45","22,523.29",0,"35,068","4,192.97","266,357.5"
6,2017-07-01,"29,202.1","355,649","37,181.2","23,113.02",0,"36,200","4,327.29","275,013.1"
7,2017-08-01,"31,261.4","337,692","36,084.3","22,498.9","7,164.71","35,215.7","4,194.58","268,447"
8,2017-09-01,"25,717.9","266,454","30,339.2","18,873.1","18,705.92","29,881.7","3,508.89","218,379"
9,2017-10-01,"18,438.8","192,839","22,932.3","14,226.3","16,216.75","22,775.6","2,596.54","158,709"

In [5]:
data_df['Day'] = [d.day for d in data_df['Site Time']]
data_df['Month'] = [d.month for d in data_df['Site Time']]
data_df['Year'] = [d.year for d in data_df['Site Time']]
data_df['Date'] = [d.date() for d in data_df['Site Time']]

In [6]:
data_df.head(10)

,Site Time,UMASS Amherst - Robsham Visitors Center null,UMASS Amherst - Lot 44 Carport null,UMASS Amherst - Champions Center null,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,UMASS Amherst - University Police null,UMASS Amherst - Lot 25 Carport null,Day,Month,Year,Date
0,2017-01-01,"3,906.3","19,085.91","2,438.015","1,682.801",0,"2,654.347",297.625,"16,947.69",1,1,2017,2017-01-01
1,2017-02-01,"5,153.2","102,156.1","13,674.72","9,648.08","13,475.63","14,736.96","1,431.698","95,507.5",1,2,2017,2017-02-01
2,2017-03-01,"10,340.4","159,629.5","21,536.59","15,268.37","17,392.25","24,370.74","2,793.15","150,078.1",1,3,2017,2017-03-01
3,2017-04-01,"16,235.3","258,483.6","28,002.71","17,831.34","14,846.2","27,708.91","3,317.095","178,054",1,4,2017,2017-04-01
4,2017-05-01,"20,548.6","287,618.5","28,011.72","18,361.7","8,188.52","28,180.89","3,504.736","179,873.5",1,5,2017,2017-05-01
5,2017-06-01,"28,521.8","338,855.6","35,911.45","22,523.29",0,"35,068","4,192.97","266,357.5",1,6,2017,2017-06-01
6,2017-07-01,"29,202.1","355,649","37,181.2","23,113.02",0,"36,200","4,327.29","275,013.1",1,7,2017,2017-07-01
7,2017-08-01,"31,261.4","337,692","36,084.3","22,498.9","7,164.71","35,215.7","4,194.58","268,447",1,8,2017,2017-08-01
8,2017-09-01,"25,717.9","266,454","30,339.2","18,873.1","18,705.92","29,881.7","3,508.89","218,379",1,9,2017,2017-09-01
9,2017-10-01,"18,438.8","192,839","22,932.3","14,226.3","16,216.75","22,775.6","2,596.54","158,709",1,10,2017,2017-10-01

In [7]:
data_new_df = data_df[data_df.Year != 2020].drop(['UMASS Amherst - Champions Center null','UMASS Amherst - Robsham Visitors Center null','UMASS Amherst - Lot 44 Carport null', 'UMASS Amherst - University Police null', 'UMASS Amherst - Lot 25 Carport null' ], axis=1)

In [8]:
data_new_df.head(10)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,"1,682.801",0,"2,654.347",1,1,2017,2017-01-01
1,2017-02-01,"9,648.08","13,475.63","14,736.96",1,2,2017,2017-02-01
2,2017-03-01,"15,268.37","17,392.25","24,370.74",1,3,2017,2017-03-01
3,2017-04-01,"17,831.34","14,846.2","27,708.91",1,4,2017,2017-04-01
4,2017-05-01,"18,361.7","8,188.52","28,180.89",1,5,2017,2017-05-01
5,2017-06-01,"22,523.29",0,"35,068",1,6,2017,2017-06-01
6,2017-07-01,"23,113.02",0,"36,200",1,7,2017,2017-07-01
7,2017-08-01,"22,498.9","7,164.71","35,215.7",1,8,2017,2017-08-01
8,2017-09-01,"18,873.1","18,705.92","29,881.7",1,9,2017,2017-09-01
9,2017-10-01,"14,226.3","16,216.75","22,775.6",1,10,2017,2017-10-01

In [9]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'].str.replace(',','').astype(float)
data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'].str.replace(',','').astype(float)
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'].str.replace(',','').astype(float)

In [10]:
data_new_df.head(10)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,1682.801,0.00,2654.347,1,1,2017,2017-01-01
1,2017-02-01,9648.080,13475.63,14736.960,1,2,2017,2017-02-01
2,2017-03-01,15268.370,17392.25,24370.740,1,3,2017,2017-03-01
3,2017-04-01,17831.340,14846.20,27708.910,1,4,2017,2017-04-01
4,2017-05-01,18361.700,8188.52,28180.890,1,5,2017,2017-05-01
5,2017-06-01,22523.290,0.00,35068.000,1,6,2017,2017-06-01
6,2017-07-01,23113.020,0.00,36200.000,1,7,2017,2017-07-01
7,2017-08-01,22498.900,7164.71,35215.700,1,8,2017,2017-08-01
8,2017-09-01,18873.100,18705.92,29881.700,1,9,2017,2017-09-01
9,2017-10-01,14226.300,16216.75,22775.600,1,10,2017,2017-10-01

In [11]:
data_new_df['UMASS Amherst - Computer Science null'] = data_new_df['UMASS Amherst - Computer Science null'] / 421
data_new_df['UMASS Amherst - Fine Arts Center null'] = data_new_df['UMASS Amherst - Fine Arts Center null'] / 424
data_new_df['UMASS Amherst - Recreation Center null'] = data_new_df['UMASS Amherst - Recreation Center null'] / 660

In [12]:
data_new_df.head(10)

,Site Time,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,2017-01-01,3.997152,0.000000,4.021738,1,1,2017,2017-01-01
1,2017-02-01,22.917055,31.782146,22.328727,1,2,2017,2017-02-01
2,2017-03-01,36.266912,41.019458,36.925364,1,3,2017,2017-03-01
3,2017-04-01,42.354727,35.014623,41.983197,1,4,2017,2017-04-01
4,2017-05-01,43.614489,19.312547,42.698318,1,5,2017,2017-05-01
5,2017-06-01,53.499501,0.000000,53.133333,1,6,2017,2017-06-01
6,2017-07-01,54.900285,0.000000,54.848485,1,7,2017,2017-07-01
7,2017-08-01,53.441568,16.897901,53.357121,1,8,2017,2017-08-01
8,2017-09-01,44.829216,44.117736,45.275303,1,9,2017,2017-09-01
9,2017-10-01,33.791686,38.247052,34.508485,1,10,2017,2017-10-01

In [13]:
data_new_df = data_new_df.drop(['Site Time'], axis=1)
data_new_df.head(10)

,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date
0,3.997152,0.000000,4.021738,1,1,2017,2017-01-01
1,22.917055,31.782146,22.328727,1,2,2017,2017-02-01
2,36.266912,41.019458,36.925364,1,3,2017,2017-03-01
3,42.354727,35.014623,41.983197,1,4,2017,2017-04-01
4,43.614489,19.312547,42.698318,1,5,2017,2017-05-01
5,53.499501,0.000000,53.133333,1,6,2017,2017-06-01
6,54.900285,0.000000,54.848485,1,7,2017,2017-07-01
7,53.441568,16.897901,53.357121,1,8,2017,2017-08-01
8,44.829216,44.117736,45.275303,1,9,2017,2017-09-01
9,33.791686,38.247052,34.508485,1,10,2017,2017-10-01

In [14]:
weather_df.head(10)

,DHI,DNI Max,DNI Min,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,82.625000,838,310,663.500000,286.250000,73.750,729.000000,304.625000,0.237500,0.551875,283.912500,89.031250,0.500000,1000.00
1,109.625000,649,150,330.625000,210.250000,68.250,716.875000,297.125000,0.112500,1.161000,101.950000,83.982500,0.500000,1010.00
2,125.500000,384,31,194.750000,175.250000,74.750,627.000000,285.000000,0.225000,1.462250,248.150000,100.000000,2.500000,980.00
3,74.500000,769,493,652.750000,279.625000,74.625,736.625000,313.375000,0.312500,0.483875,264.037500,58.532500,-2.500000,990.00
4,77.250000,845,521,664.125000,287.500000,73.250,747.750000,317.500000,0.250000,0.429875,309.150000,61.963750,-2.875000,1000.00
5,104.000000,2,2,2.000000,105.000000,74.000,723.000000,286.000000,0.200000,0.686000,14.000000,69.400000,-7.000000,1010.00
6,100.000000,770,299,539.375000,273.625000,96.750,676.000000,320.250000,0.275000,0.256125,296.637500,65.640000,-8.000000,1000.00
7,90.375000,691,283,511.625000,261.375000,82.625,733.875000,325.375000,0.212500,0.305375,246.612500,63.127500,-8.875000,1020.00
8,120.125000,474,107,312.000000,225.875000,91.375,651.875000,311.625000,0.325000,0.894750,171.287500,77.673750,-3.375000,1011.25
9,76.222222,914,51,456.222222,233.333333,51.000,711.333333,286.333333,0.311111,0.522667,223.655556,92.948889,5.111111,1000.00

In [15]:
final_df = pd.concat([data_new_df, weather_df], axis=1, ignore_index=True)
final_df.columns = ('UMASS Amherst - Computer Science null', 'UMASS Amherst - Fine Arts Center null', 'UMASS Amherst - Recreation Center null', 'Day', 'Month', 'Year', 'Date', 'DHI', 'DNI Max', 'DNI Min', 'DNI', 'GHI', 'Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI', 'Wind Speed','Precipitable Water', 'Wind Direction', 'Relative Humidity', 'Temperature', 'Pressure')

In [16]:
final_df.head(10)

,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date,DHI,DNI Max,DNI Min,...,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,3.997152,0.000000,4.021738,1.0,1.0,2017.0,2017-01-01,82.625000,838,310,...,286.250000,73.750,729.000000,304.625000,0.237500,0.551875,283.912500,89.031250,0.500000,1000.00
1,22.917055,31.782146,22.328727,1.0,2.0,2017.0,2017-02-01,109.625000,649,150,...,210.250000,68.250,716.875000,297.125000,0.112500,1.161000,101.950000,83.982500,0.500000,1010.00
2,36.266912,41.019458,36.925364,1.0,3.0,2017.0,2017-03-01,125.500000,384,31,...,175.250000,74.750,627.000000,285.000000,0.225000,1.462250,248.150000,100.000000,2.500000,980.00
3,42.354727,35.014623,41.983197,1.0,4.0,2017.0,2017-04-01,74.500000,769,493,...,279.625000,74.625,736.625000,313.375000,0.312500,0.483875,264.037500,58.532500,-2.500000,990.00
4,43.614489,19.312547,42.698318,1.0,5.0,2017.0,2017-05-01,77.250000,845,521,...,287.500000,73.250,747.750000,317.500000,0.250000,0.429875,309.150000,61.963750,-2.875000,1000.00
5,53.499501,0.000000,53.133333,1.0,6.0,2017.0,2017-06-01,104.000000,2,2,...,105.000000,74.000,723.000000,286.000000,0.200000,0.686000,14.000000,69.400000,-7.000000,1010.00
6,54.900285,0.000000,54.848485,1.0,7.0,2017.0,2017-07-01,100.000000,770,299,...,273.625000,96.750,676.000000,320.250000,0.275000,0.256125,296.637500,65.640000,-8.000000,1000.00
7,53.441568,16.897901,53.357121,1.0,8.0,2017.0,2017-08-01,90.375000,691,283,...,261.375000,82.625,733.875000,325.375000,0.212500,0.305375,246.612500,63.127500,-8.875000,1020.00
8,44.829216,44.117736,45.275303,1.0,9.0,2017.0,2017-09-01,120.125000,474,107,...,225.875000,91.375,651.875000,311.625000,0.325000,0.894750,171.287500,77.673750,-3.375000,1011.25
9,33.791686,38.247052,34.508485,1.0,10.0,2017.0,2017-10-01,76.222222,914,51,...,233.333333,51.000,711.333333,286.333333,0.311111,0.522667,223.655556,92.948889,5.111111,1000.00

In [17]:
final_df = final_df[final_df['UMASS Amherst - Fine Arts Center null'] != 0]

In [18]:
final_df.head(10)

,UMASS Amherst - Computer Science null,UMASS Amherst - Fine Arts Center null,UMASS Amherst - Recreation Center null,Day,Month,Year,Date,DHI,DNI Max,DNI Min,...,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
1,22.917055,31.782146,22.328727,1.0,2.0,2017.0,2017-02-01,109.625000,649,150,...,210.250000,68.250,716.875000,297.125000,0.112500,1.161000,101.950000,83.982500,0.500000,1010.00
2,36.266912,41.019458,36.925364,1.0,3.0,2017.0,2017-03-01,125.500000,384,31,...,175.250000,74.750,627.000000,285.000000,0.225000,1.462250,248.150000,100.000000,2.500000,980.00
3,42.354727,35.014623,41.983197,1.0,4.0,2017.0,2017-04-01,74.500000,769,493,...,279.625000,74.625,736.625000,313.375000,0.312500,0.483875,264.037500,58.532500,-2.500000,990.00
4,43.614489,19.312547,42.698318,1.0,5.0,2017.0,2017-05-01,77.250000,845,521,...,287.500000,73.250,747.750000,317.500000,0.250000,0.429875,309.150000,61.963750,-2.875000,1000.00
7,53.441568,16.897901,53.357121,1.0,8.0,2017.0,2017-08-01,90.375000,691,283,...,261.375000,82.625,733.875000,325.375000,0.212500,0.305375,246.612500,63.127500,-8.875000,1020.00
8,44.829216,44.117736,45.275303,1.0,9.0,2017.0,2017-09-01,120.125000,474,107,...,225.875000,91.375,651.875000,311.625000,0.325000,0.894750,171.287500,77.673750,-3.375000,1011.25
9,33.791686,38.247052,34.508485,1.0,10.0,2017.0,2017-10-01,76.222222,914,51,...,233.333333,51.000,711.333333,286.333333,0.311111,0.522667,223.655556,92.948889,5.111111,1000.00
10,22.873397,28.682547,23.654242,1.0,11.0,2017.0,2017-11-01,129.250000,95,13,...,149.250000,75.500,623.500000,287.500000,0.400000,2.687000,211.600000,100.000000,9.250000,997.50
11,7.448456,23.109906,7.229697,1.0,12.0,2017.0,2017-12-01,59.625000,906,598,...,328.000000,59.625,789.750000,328.000000,0.650000,0.472750,305.000000,61.718750,1.000000,1010.00
12,16.078860,32.876179,16.796818,1.0,1.0,2018.0,2018-01-01,108.375000,618,251,...,249.375000,59.625,788.750000,328.500000,0.225000,0.527125,245.625000,38.840000,-1.375000,1012.50

In [19]:
final_df.to_csv('Umass_total_data.csv')